*.1
Interpreter.bak
compiled/drracket/errortrace/lex_rkt.dep
compiled/drracket/errortrace/lex_rkt.zo
compiled/drracket/errortrace/simpleParser_rkt.dep
compiled/drracket/errortrace/simpleParser_rkt.zo
Test1.txt
test.txt
Interpreter.3
compiled/
